<nav
class="
  flex flex-wrap
  items-center
  justify-between
  w-full
  py-4
  md:py-0
  px-4
  text-lg text-gray-700
  bg-white
"
>
<div>
  <a href="./index.html">
    <img class="image-logo" src="assets/images/clubdetenismnk.svg" alt="logo">
  </a>
</div>

<svg
  xmlns="http://www.w3.org/2000/svg"
  id="menu-button"
  class="h-6 w-6 cursor-pointer min-[798px]:hidden block"
  fill="none"
  viewBox="0 0 24 24"
  stroke="currentColor"
  >
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="2"
    d="M4 6h16M4 12h16M4 18h16"
  />
</svg>

<div class="hidden w-full min-[798px]:flex min-[798px]:items-center min-[798px]:w-auto" id="menu">
  <ul
    class="
      pt-4
      text-base text-gray-700
      md:flex
      md:justify-between 
      md:pt-0"
  >
    <li>
      <a class="md:p-4 py-2 block hover:text-purple-400" href="./index.html"
        >INICI</a
      >
    </li>
    <li>
      <a class="md:p-4 py-2 block hover:text-purple-400" href="./participants.html"
        >PARTICIPANTS</a
      >
    </li>
    <li>
      <a class="md:p-4 py-2 block hover:text-purple-400 text-gray-400 cursor-not-allowed" href="#"
        >INFORMACIÓ</a
      >
    </li>
    <li>
      <a class="md:p-4 py-2 block hover:text-purple-400" href="./contact.html"
        >CONTACTE</a
      >
    </li>
    <li>
      <a
        class="md:p-4 py-2 block hover:text-purple-400 text-purple-500 text-gray-400 cursor-not-allowed"
        href="#"
        >SIGN UP</a
      >
    </li>
  </ul>
</div>
</nav>
