<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-10">
    <!-- CARD 1 -->
    <div class="rounded overflow-hidden shadow-lg flex flex-col">
        <a href="#"></a>
        <div class="relative"><a href="#">
                <img class="w-full"
                    src="./assets/images/part1.jpg"
                    alt="Laura Fàbregas">
                <div
                    class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                </div>
            </a>
        </div>
        <div class="px-6 py-4 mb-auto bg-gray-100 h-full">
            <a href="#"
                class="font-medium text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">Laura Fàbregas</a>
            <p class="text-gray-500 text-sm">
               Jugadora club de tenis MNK, guanyadora tres cops esdeveniments nacionals. Sparring de jugadores com Paula Badosa.
            </p><br>
            <div class="text-center text-red-500 text-sm">Inici a les 19:00</div>
        </div>
    </div>
    <!-- CARD 2 -->
    <div class="rounded overflow-hidden shadow-lg flex flex-col">
        <a href="#"></a>
        <div class="relative"><a href="#">
                <img class="w-full"
                    src="./assets/images/part2.jpg"
                    alt="Roger Campuzano">
                <div
                    class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                </div>
            </a>
        </div>
        <div class="px-6 py-4 mb-auto bg-gray-100 h-full">
            <a href="#"
                class="font-medium text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">Roger Campuzano</a>
            <p class="text-gray-500 text-sm">
                Jugadora club de tenis MNK, guanyador tres cops esdeveniments nacionals i millor jugador jove Espanyol.
            </p><br><br>
            <div class="text-center text-red-500 text-sm">Inici a les 19:00</div>
        </div>
    </div>
    <!-- CARD 3 -->
    <div class="rounded overflow-hidden shadow-lg flex flex-col">
        <a href="#"></a>
        <div class="relative"><a href="#">
                <img class="w-full"
                    src="./assets/images/part3.jpg"
                    alt="Markel Sweitger">
                <div
                    class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                </div>
            </a>
        </div>
        <div class="px-6 py-4 mb-auto bg-gray-100 h-full">
            <a href="#"
                class="font-medium text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">Markel Sweitger</a>
            <p class="text-gray-500 text-sm">
                Jugadora club de tenis MNK. Guanyador de millor jove promesa del club.
            </p><br><br><br>
            <div class="text-center text-red-500 text-sm">Inici a les 20:00</div>
        </div>
    </div>
    <!-- CARD 4 -->
    <div class="rounded overflow-hidden shadow-lg flex flex-col">
        <a href="#"></a>
        <div class="relative"><a href="#">
                <img class="w-full"
                    src="./assets/images/part4.jpg"
                    alt="Jaume Pons">
                <div
                    class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                </div>
            </a>
        </div>
        <div class="px-6 py-4 mb-auto bg-gray-100 h-full">
            <a href="#"
                class="font-medium text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">Jaume Pons</a>
            <p class="text-gray-500 text-sm">
                Jugadora club de tenis MNK, guanyador tres cops esdeveniments nacionals i dels millors jugadors jove Espanyol.
            </p><br><br>
            <div class="text-center text-red-500 text-sm">Inici a les 20:00</div>
        </div>
    </div>
</div>