<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-10 mb-5">
    <!-- CARD 1 -->
    <div class="rounded overflow-hidden shadow-lg flex flex-col">
        <a href="#"></a>
        <div class="relative"><a href="#">
                <img class="w-full"
                    src="./assets/images/rafaN.jpg"
                    alt="Rafa Nadal">
                <div
                    class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                </div>
            </a>
        </div>
        <div class="px-6 py-4 mb-auto bg-gray-100 h-full">
            <a href="#"
                class="font-medium text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">Rafa Nadal</a>
            <p class="text-gray-500 text-sm">
                Rafael Nadal Parera, més conegut com a Rafa Nadal, és un tennista professional espanyol que ocupa la posició número 664è del rànquing ATP.​ És considerat com el millor tennista de la història en pistes de terra batuda​​​ i un dels millors de tots els temps.
            </p>
            <div class="text-center text-red-500 text-sm">Inici a les 18:00</div>
        </div>
    </div>
    <!-- CARD 2 -->
    <div class="rounded overflow-hidden shadow-lg flex flex-col">
        <a href="#"></a>
        <div class="relative"><a href="#">
                <img class="w-full"
                    src="./assets/images/rogerF.jpg"
                    alt="Sunset in the mountains">
                <div
                    class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                </div>
            </a>
        </div>
        <div class="px-6 py-4 mb-auto bg-gray-100 h-full">
            <a href="#"
                class="font-medium text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">Roger Federer</a>
            <p class="text-gray-500 text-sm">
                Roger Federer és un ex tennista professional suís. Federer va ocupar el lloc número un del món en individuals segons l'Associació de Tennis Professionals durant 310 setmanes, inclòs un rècord de 237 setmanes consecutives.
            </p><br>
            <div class="text-center text-red-500 text-sm">Inici a les 18:00</div>
        </div>
    </div>
</div>